<a href="https://colab.research.google.com/github/priyankamb2725/Priyankamb09/blob/main/NLPex3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
data = pd.read_csv('/content/Tweets.csv.zip')
data.info()
data.count()
data['sentiment'].value_counts()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         27481 non-null  object
 1   text           27480 non-null  object
 2   selected_text  27480 non-null  object
 3   sentiment      27481 non-null  object
dtypes: object(4)
memory usage: 858.9+ KB

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [ ]:
import pandas as pd # Ensure pandas is imported for pd.notna
import re

pattern = r'\s'
data['char_count'] = data['text'].apply(lambda x: len(re.sub(pattern, '', x if pd.notna(x) else '')))

In [ ]:
data['char_count']

0        29
1        36
2        21
3        26
4        61
         ..
27476    60
27477    97
27478    88
27479    20
27480    48
Name: char_count, Length: 27481, dtype: int64

In [ ]:
data['word_count'] = data['text'].apply(lambda x: len(str(x).split()))

In [ ]:
data['word_count']

0         7
1        10
2         5
3         5
4        14
         ..
27476    16
27477    23
27478    22
27479     6
27480    11
Name: word_count, Length: 27481, dtype: int64